<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/pulse/bootstrap.min.css" integrity="sha384-L7+YG8QLqGvxQGffJ6utDKFwmGwtLcCjtwvonVZR/Ba2VzhpMwBz51GaXnUsuYbj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <%- style %>
    <title><%= title%></title>
</head>
<body>
    <%- include('_header'); %>
    <div class="container">
        <%- body %>
    </div>
    <%- script %>
    <script>
		<% if(flash.success && flash.success.length > 0){ %>

		var settings = 
		{
			theme: 'relax',
			text : "<%= flash.success %>",
			type : 'success',
			layout : 'topRight',
			timeout : 1500
		};
		var noty = new Noty(settings);
		noty.show();

		<% } %>

		<% if(flash.error && flash.error.length > 0){ %>

		var settings = 
		{
			theme: 'relax',
			text : "<%= flash.error %>",
			type : 'error',
			layout : 'topRight',
			timeout : 1500
		};
		var noty = new Noty(settings);
		noty.show();

		<% } %>
	</script>
</body>
</html>